<body id="index">
  <div id="indexContainer">
    <h1 class="center">Message Board</h1>
    <% length = @messages.length %>
    <% current_id = session[:current_user_id] %>
    <% current_email = User.find(current_id).email %>

    <% @messages.each do |message| %>
      <% user_id = message.user_id %>
      <% user_email = User.find(user_id).email %>
      <% message_id = message.id %>
      <% edited = "test edit" %>
      <% if message.edited%>
        <% edited = " EDITED"%>
      <% end %>
      <% if user_id == current_id%>
        <h4 class="center"><span class="green">
          <%=message.content %></span> Posted by <a class="blue" href="/show/<%= user_id%>"><%= user_email%></a>
          <button class="edit" value="form<%=message_id%>">Edit</button>
          <form class="hidden" id="form<%=message_id%>" method="post" action="/edit">
            <input type="text" class="hidden" name="message_id" value="<%=message_id%>">
            <input type="text" name="edited_message" value="<%=message.content%>"><button type="submit">Sumbit</button>
            </form>
          <form class="center inline" method="post" action="/message">
            <input class="hidden" name="message_id" value="<%=message_id%>"><button type="submit" class="Delete">Delete</button>
          </form>
          <%= edited %>
        </h4>
      <% else %>
        <h4 class="center">
          <span class="green"><%=message.content %></span> Posted by <a class="blue" href="/show/<%= user_id%>"><%= user_email%></a>
          <%= edited %>
        </h4>
      <% end %>
    <% end %>

    <div id="messageContainer" class="center">
      <form method="post" action="/save">
        <input id="message" name="message" type="text">
        <input id="submitEmail" value="<%= current_email %>" name="email" type="text">
        <button id="messageSubmit" type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
